
#logo{

    width: 120px;
    height: 80px;

}

#cabecera{

    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 0 auto;

}

h1{
    color: black;
    font-family: Poor Story;
    margin-left: 3%;
    font-size: 40;
    letter-spacing: 2px;
}


@media only screen and (max-width: 600px) {
   
    #cabecera{

        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
    
    }
  }