.scrollRetall {
    font-family: "Open Sans";
    overflow-y: hidden;
}
.scrollAuto {
    font-family: "Open Sans";
    overflow-y:auto ;

}
.scrollSempre {
    font-family: "Open Sans";
    overflow-y: scroll ;
}